body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 1.5vw;
  min-width: 50%;
}

/* HEADER */

#main-name {
  padding-left: 20px;
  width: auto;
  font-size: 1.8vw;
  font-family: 'Big Shoulders Stencil Display', cursive;
}
.main-nav {
  z-index: 9;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  background: #f1edec;
}
.active {
  background: #b1abaa;
}
.nav-item {
  padding: 14px 16px;
  cursor: pointer;
  border: none;
}
.nav-item > img {
  vertical-align: text-top;
  border-radius: 6px;
}
.nav-item:hover {
  background-color: white;
}
.nav-item > a {
  color: black;
  text-decoration: none;
  
}
.second-nav {
  padding-top: 7px;
  position: relative;
  display: flex;
  font-weight: bold;
}

/* main */
main {
  margin-top: 50px;
}
#inicio {
  background-image: url(../imagenes/restaurantImage.jpeg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-name2 {
  font-size: 2.5vw;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: bold;
  text-align: center;
}
.rombo{ /* hay que hacer que tenga un borde, girarlo 90º para hacerlo rombo y background color blanco, si se gira la palabra, hacer girar el span*/
  margin: 5px;
  float: left;
  width: 180px;
  margin-top: 180px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 160px;
}